@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Some basic CSS overrides */
body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #060606;
}


.card{
  border: 1px solid hsl(0, 0%, 2%);
  border-radius: 30px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.906);
  padding: 20px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  max-width: 300px;
  display: inline-block;
  background-color:#171717be;
  h2{
color: aliceblue
  };
  p{
    color: aliceblue;
  }
}


.card img{
  border: #060606 1px solid;
	border-radius: 50%;
	overflow: hidden;
	width: 250px;
	position: relative;
}